<h2>Welcome, <%= @user.username%> to The Latest Tweets</h2>

<h3>Your Tweets</h3>
<%@user.tweets.all.each do |t|%>
<ul>

<li> <%= t.content %> <- <a href="/tweets/<%=t.id%>"> See More </a> </li>
</ul>
<% end %>

<h3>Public Tweets</h3>



<% Tweet.all.each do |t|%>
<ul>

<li> <%= t.user.username%> said:  <%= t.content %> </li>
</ul>
<% end %>

<br>
<a href='/tweets/new'>New Tweet</a>
<a href="/logout">Log out</a>





